.MinesweeperPage{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.Minesweeper{
    display:flex;
    flex-direction:column;
    justify-content:center;

    width: 800px;
    height: 550px;

    color:#458ffd;
    border: 2px solid;
    margin-top: 30px;

    h3{
        flex:1;
        border-bottom: 2px solid;
        padding: 8px 0;
    }
    .MinesweeperMiddle{
        flex:1.5;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items: center;

        border-bottom: 2px solid;
    }
    .MinesweeperCanvas{
        flex:10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}