.MinesweeperPage{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.Minesweeper{
    display:flex;
    flex-direction:column;
    justify-content:center;

    width: 80%;
    min-width: 700px;
    max-width: 1000px;

    color:#458ffd;
    border: 2px solid;
    margin-top: 30px;

    h3{
        border-bottom: 2px solid;
        padding: 8px 0;
    }
    div{
        display:flex;
        flex-direction:row;
        justify-content:space-around;

        margin: 10px 0;
    }
}